includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - ../../packages/cms/shared/src
        - ../../packages/cms/contracts/src
        - ../../packages/cms/pay/src
    databaseMigrationsPath:
        - ../../packages/cms/pay/database/migrations
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
